.header {
	line-height: 1.5;
	font-size: 20px;
	margin: 60px auto;
}

.header span {
	display: block;
}

.section {
	padding: 30px 0;
}

.container, .col-lg-6 {
	/*border: 2px solid green;*/
}

.form {
	border: 5px solid #00d2ff;
	padding: 30px 20px;
}

.form-header, .section-header {
	font-size: 20px;
	font-weight: 900;
	margin-bottom: 20px;
}

.form input {
	margin-bottom: 12px;
}

.form-btn {
	background-color: #00d2ff;
	margin: 20px auto;
}

.feature {
	margin: 60px auto;
}

.feature img {
	width: 80px;
	height: 80px;
}

.feature p{
	margin: 20px auto;
}

.video {
	margin-bottom: 30px;
}